@font-face {
    font-family: 'BoroFaceRegular';
    src: url('BoroFace-Regular-webfont.eot');
    src: url('BoroFace-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('BoroFace-Regular-webfont.woff2') format('woff2'),
         url('BoroFace-Regular-webfont.woff') format('woff'),
         url('BoroFace-Regular-webfont.ttf') format('truetype'),
         url('BoroFace-Regular-webfont.svg#borofaceregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.bf {
  display: inline-block;
  font: normal normal normal 14px/1 BoroFaceRegular;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

.bf-brooklyn:before {
    content: "K";
}

.bf-manhattan:before {
    content: "M";
}

.bf-nyc:before {
    content: "N";
}

.bf-queens:before {
    content: "Q";
}

.bf-staten:before {
    content: "S";
}

.bf-bronx:before {
    content: "X";
}